*.pyc
__pycache__/
.env
*.pdf
*.docx

# Ignore everything in these folders
output/*
data/*

# But keep .gitkeep files
!output/.gitkeep
!data/.gitkeep
!data/resumes/.gitkeep
!data/job_descriptions/.gitkeep
!output/customised_cvs/.gitkeep

